In [12]:
from helpers.constants import src_dict
from helpers.helpers import get_newest_file
import pandas as pd

In [10]:
f = get_newest_file(src_dict['raw'],'xls')

In [13]:
raw_df = pd.read_excel(f)

In [18]:
cols = raw_df.columns.tolist()

In [20]:
cols[0] = 'code'

In [21]:
cols[-1] = 'total'

In [23]:
raw_df.columns = cols

In [56]:
raw_df[raw_df['code'].eq('SKT105')].fillna('')

       code F XS S    M L XL  2XL 3XL   4XL 5XL 6XL  total
478  SKT105         0.0       4.0      16.0             20

In [27]:
c_f = get_newest_file(src_dict['output'],'csv')

In [29]:
df = pd.read_csv(c_f)

In [37]:
dims = get_newest_file(src_dict['dim'],'xlsx')

In [39]:
dim_df = pd.read_excel(dims)

In [55]:
#This is what is in the output file for row 27 
df.iloc[25:]['Handle'][27]

'nekhbet-steampunk-corset-with-metal-buckles'

In [50]:
#This is from the Dimension File - looking at the SKU associated with row 27
#AS045-L
dim_df[dim_df['Variant SKU'].str.contains('AS045-L')==True]['Handle'].values[0]

'nekhbet-steampunk-corset-with-metal-buckles'

In [57]:
df[df['SKU'].str.contains('SKT105')].fillna('')

                                                 Handle         SKU Option1 Name  ... Option3 Name Option3 Value 70 rue de la prulay
2371  anachronistic-fantasy-steampunk-faux-leather-d...  SKT105-2XL         Size  ...                                            4.0
2372  anachronistic-fantasy-steampunk-faux-leather-d...  SKT105-4XL         Size  ...                                           16.0
2373  anachronistic-fantasy-steampunk-faux-leather-d...    SKT105-M         Size  ...                                            0.0

[3 rows x 9 columns]